.Card {
  position: relative;
  display: flex;
  flex-direction: row;
  --right-column-width: 3.6rem;
}

.AddButtonContainer {
  min-height: 10rem;
  min-width: var(--right-column-width);
  padding: 0 !important;
  display: flex;
  justify-content: center !important;
  align-items: flex-end !important;
}
.ContentContainer {
  flex: 1;
}
